*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100vw;
    height: 100vh;
}
html {
    font-size: 6px;
}
body {
    font-size: 2.6rem;
}
#backgroundColor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -5;
    background: linear-gradient(to right, #d7d7ff, #9292ff);
}
#navigationBar {
    position: absolute;
    width: 100vw;
    height: 70px;
    background-color: #afccec;
    display: flex;
    align-items: center;
}
#navigationBar h1 {
    font-weight: bold;
    font-family: Arial, serif;
    left: 1rem;
    margin-left: clamp(2rem, 7vw, 20rem);
}
#navigationBar ul {
    right: 1rem;
    width: clamp(30rem, 40vw, 60rem);
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
}
.listCompo {
    width: 5rem;
    text-align: center;
}
.listCompo svg {
    width: 5rem;
}

@media screen and (width>=576px) {
}

/*  My phone landscape  */
@media screen and (width>=768px) {
}
/*  My phone portrait  */
@media screen and (orientation: portrait) and (width>=768px) {
}
/* usually tablets*/
@media screen and (width>=992px) {
}
/*  My laptop  */
@media screen and (width>=1200px) {
}