*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
}
body {
    font-size: 2.6rem;
}
#backgroundColor {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #d7d7ff, #9292ff);
}
.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
    transition: 0.3s ease;
}
.container form {
    width: 50rem;
    height: 50rem;
    border: 1rem solid #7474ff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(12px);
    transition: 0.3s ease;
}
#signup_container > form {
    height: 85rem;
}
.container h1 {
    text-align: center;
    cursor: default;
    color: #7ab2ee;
    padding-top: 1rem;
    padding-bottom: 4rem;
    font-size: 8rem;
    font-family: Arial, serif;
    -webkit-text-stroke: 2px #712d7e;
}
.inputsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputsContainer a {
    color: blue;
    cursor: pointer;
}
.inputsContainer label {
    width: 65px;
    color: #2d1b35;
    translate: -9rem -4rem;
    transition: 0.3s ease;
    pointer-events: none;
}
.inputsContainer input {
    background: #c1c1ff;
    border: 2px solid #c1c1ff;
    border-radius: 15rem;
    padding-left: 5rem;
    padding-right: 1rem;
    width: 40rem;
    height: 5rem;
    font-size: 2.6rem;
    font-weight: bold;
    font-family: Arial, serif;
}
.parent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputsContainer svg {
    width: 0.5rem;
    height: 0.5rem;
    transform: scale(8) translateX(-2.1rem) translateY(0.35rem);
}
.inputsContainer input:focus + label,
.inputsContainer input:not(:placeholder-shown) + label{
    transform: translateY(-3.8rem);
}
.formBtnContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}
.formBtn {
    height: 6rem;
    border-radius: 3rem;
    font-size: 2.6rem;
    font-weight: bold;
    color: white;
    background: grey;
}
.one {
    background: grey;
    width: 40rem;
    line-height: 1.8rem;
}
.two {
    background: #7ab2ee;
    width: 40rem;
}
.container p {
    text-align: center;
    cursor: default;
}

#login_message {
    color: red;
}
#signup_message {
    color: red;
}

@media screen and (width>=576px) {
    html {
        font-size: 18px;
    }
}

/*  My phone landscape  */
@media screen and (width>=768px) {
    html {
        font-size: 8px;
    }
}
/*  My phone portrait  */
@media screen and (orientation: portrait) and (width >= 768px) {
    html {
        font-size: 16px;
    }
}
@media screen and (width>=992px) {
    html {
        font-size: 7px;
    }
}
/*  My laptop  */
@media screen and (width>=1200px) {
    html {
        font-size: 6px;
    }
}